@import "tailwindcss";

@font-face {
    font-family: "SemiBold";
    src: url("../public/assets/fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "Regular";
    src: url("../public/assets/fonts/OpenSans-Regular.ttf");
}

@theme {
    --font-SemiBold: "SemiBold";
    --font-Regular: "Regular";
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;   
}

::-webkit-scrollbar {
  height: 0;
}
